<header><button style="margin: 20px 0;"><a href="/logout">Log Out</a></button></header>
<div class="container">
  <h1> Brooklyn Eateries, Believe the Hype! </h1>
  <h2>Welcome, <%= Helpers.current_user(session).username %>!</h2>

  <p>Below, is a list of the best places to eat in BK... subjectively :) </p> 
  <h3>Places you have recommended:</h3>
  <div class="eateries">
    <% @eateries.each do |eatery| %>
      <div class="eatery submitter"> 
        <p><span>Restaurant: </span><a href= "/eateries/<%= eatery.id%>"><%= eatery.name%></a></p>
        <p><span>Cuisine: </span><%= eatery.cuisine%> </p> 
        <p><span>Rating: </span><%= eatery.rating%> </p> 
        <p><span>Phone Number: </span><%= eatery.number%> </p>
        <p><span>Review: </span><%= eatery.content%></p> 
      </div>
    <%end%>
  </div>

  <button style="margin: 20px 0;"><a href="/eateries/new">Add another restaurant to the list!</a></button>

  <h3>Check out other's recommended restaurants:</h3>
  <div class="eateries">
    <% Eatery.all.each do |eatery| %>
      <div class="eatery reviwer">
        <p><span>Restaurant: </span><a href= "/eateries/<%= eatery.id%>"><%= eatery.name%></a></p>
        <p><span>Reviewer: </span><%= User.find(eatery.user_id).username %> 
        <p><span>Cuisine: </span><%= eatery.cuisine%> </p> 
        <p><span>Rating: </span><%= eatery.rating%> </p> 
        <p><span>Phone Number: </span><%= eatery.number%> </p>
        <p><span>Review: </span><%= eatery.content%></p>
      </div> 
    <% end%>
  </div>
</div>