<html> 
  <body style="background-color: f8f1f1;">
    <h1> Brooklyn Eateries, Believe the Hype! </h1>

    <h2>Welcome, <%= Helpers.current_user(session).username %>!</h2>

    <p>Below, is a list of the best places to eat in BK... subjectively :) </p> 
    <p>
    <p>
    <h3><p><strong> Places you have recommended: <strong></p></h3> 
      <br>
      <% @eateries.each do |eatery| %>
        <div> 
          <p> Restaurant: <a href= "/eateries/<%= eatery.id%>"> <%= eatery.name%> </a><p>
          <p> Cuisine: <%= eatery.cuisine%> </p> 
          <p> Rating: <%= eatery.rating%> </p> 
          <p> Phone Number: <%= eatery.number%> </p>
          <p> Review: <p> <%= eatery.content%></p> 
          <br>
        <div>
        <%end%>
    <br>  
    <a href="/eateries/new"> Add another restaurant to the list!</a><br>
    <br>
    <br>
   <h3><p> Check out other's recommendeded restaurants: </p><h3>
        <br>
        <% Eatery.all.each do |eatery| %>
        <div> 
          <p> Restaurant: <%= eatery.name %> 
          <p> Reviewer: <%= User.find(eatery.user_id).username %> 
          <p> Cuisine: <%= eatery.cuisine %> 
          <p> Rating: <%= eatery.rating %> 
          <p> Phone Number: <%= eatery.number %> 
          <p> Review: <%= eatery.content %> 
          <br> 
          <br> 
          <br>
        </div> 
        <% end%>
    <br>
    <a href="/logout"> Log Out </a> 
  </body>
</html>
