<html> 
  <body style="background-color: f8f1f1;">
    <h1> Brooklyn Eateries, Believe the Hype! </h1>

    <h2>Welcome, <%= Helpers.current_user(session).username %>!</h2>

    <p>Below, is a list of the best places to eat in BK... Subjectively :) </p> 
    <p>
    <p> Places you have recommended: </p>

    <% @eateries.each do |review| %>
      <br>
      <p> Restaurant: <a href="/eateries/<%= @eateries%>"><%= @eateries.name %></a></p>
      <p> Cuisine: <%= eateries.cuisine %></p>
    #   <p> Rating: <%= @eateries.rating %></p>
    #   <p> Content: <%= @eateries.content %></p>
    #   <p> Number: <%= @eateries.number %></p>
    # <% end %>


   

  # List out all of your reviews, then list out all user views    

  <a href="/eateries/new"> Add another restaurant to the list!</a><br>
  <br>
  <a href="/logout"> Log Out </a>
<br>
<br>
<p> Check out other recommended restaurants, in which your need to check out! </p>
<br>
# <% Eatery.all.each do |review| %>
#   <p>Restaurant Name: <%= eatery.name %></p>
#       <p>Localite: <%=User.find(eatery.user_id).name%></p>
#       <p>Cuisine: <%= eatery.cuisine %></p>
#       <p>Rating: <%= eatery.rating %></p>
#       <p>Content: <%= eatery.content %></p>
#       <p>Number: <%= eatery.number %></p>
#       <br>
#     <%end%>

# </body>

</html>
