<div>
    <h1 style="text-align: center;"> Edit this Restaurant</h1>
    <h3 style="text-align: center;"><%= @eatery.name %></h3>

    <form class="editForm" method= "POST" action= "/eateries/<%= @eatery.id%>">
      <input type="hidden" value="patch" name="_method">
      <label for=eatery> Restaurant Name:</label>
      <input type= "text" name="eatery" id= "eatery" value="<%= @eatery.name %>">
      <br>
      <label> Cuisine: </label>
      <select name="cuisine">
        <option value="N/A"></option>
        <option value="American">American Bistro</option>
        <option value="Asian">Asian</option>
        <option value="Caribbean">Caribbean</option>
        <option value="Indian">Indian</option>
        <option value="Italian">Italian</option>
        <option value="Mediterranean">Mediterranean</option>
        <option value="Mexican">Mexican</option>
        <option value="Soul">Soul/Southern</option>
        <option value="Pizza">Pizza</option>
      </select>
      <br> 
      <label> Rating: </label>
      <select name= "rating" value= N/A>
        <option value="N/A"></option>
        <option value="1">1 star</option>
        <option value="2">2 stars</option>
        <option value="3">3 stars</option>
        <option value="4">4 stars</option>
        <option value="5">5 stars</option>
      </select>
      <br>
      <label> Phone Number: </label>
      <input type= "text" name="number" value="<%= @eatery.number %>">
      <p>
      <label for="content"><strong>Write a review:</strong><p>
      What should we try?<br> What would you go back for?<br> Best cocktail/drink specials?<br>Patio? Music?</label>
      <br>
      <textarea name= "content" id= "content" rows= "10" cols="55">
        <%= @eatery.content %>
      </textarea>
      </p>
    <h3>
    <p><input type='submit' value='Save this review'></p>
  </form>

  <form action="/eateries/<%= @eatery.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

  <a href='/logout'>Log Out</a>
  <p><a href='/eateries'>Cancel</a></p>

</div>