

<div class="container">

  <p><span>Restaurant Name: </span> <%=@eatery.name%></p>
  <p><span>Cuisine: </span><%=@eatery.cuisine%></p>
  <p><span>Rating: </span><%=@eatery.rating%></p>
  <p><span>Review: </span><%=@eatery.content%></p>
  <p><span>Phone Number: </span><%=@eatery.number%></p>
  <br>
  <p>Image section, coming soon! We want to see scroll and drool over food and drinks you have enjoyed! </p>
</div>

 

